:where(.bgt-link__size) {
	&::before {
		content: '(';
	}

	&::after {
		content: ')';
	}
}

:where(.bgt-link__icon) {
	&:where(.bgt-link__icon--before) {
		//
	}

	&:where(.bgt-link__icon--after) {
		display: none;
	}

	&::after {
		@include bge-icon;
		font-size: 1.3em;
		vertical-align: bottom;
		content: '\e623';
	}
}

// 拡張子によるアイコンの出し分け
:where(.bgt-download-file__link) {
	// PDF
	&:where([href$='pdf']) {
		:where(.bgt-link__icon)::after {
			content: '\f1c1';
		}
	}

	// Word
	&:where([href$='doc']),
	&:where([href$='docx']) {
		:where(.bgt-link__icon)::after {
			content: '\f1c2';
		}
	}

	// Excel
	&:where([href$='xls']),
	&:where([href$='xlsx']) {
		:where(.bgt-link__icon)::after {
			content: '\f1c3';
		}
	}

	// PowerPoint
	&:where([href$='ppt']),
	&:where([href$='pptx']) {
		:where(.bgt-link__icon)::after {
			content: '\f1c4';
		}
	}

	// ZIP Archives
	&:where([href$='zip']) {
		:where(.bgt-link__icon)::after {
			content: '\f1c6';
		}
	}

	// Markup Files
	&:where([href$='xml']),
	&:where([href$='htm']),
	&:where([href$='html']),
	&:where([href$='css']),
	&:where([href$='sass']),
	&:where([href$='scss']),
	&:where([href$='less']),
	&:where([href$='styl']),
	&:where([href$='json']) {
		:where(.bgt-link__icon)::after {
			content: '\f1c9';
		}
	}

	// Image Files
	&:where([href$='jpeg']),
	&:where([href$='jpg']),
	&:where([href$='png']),
	&:where([href$='gif']),
	&:where([href$='tif']),
	&:where([href$='tiff']),
	&:where([href$='webp']),
	&:where([href$='bmp']) {
		:where(.bgt-link__icon)::after {
			content: '\f1c5';
		}
	}

	// Movie Files
	&:where([href$='mov']),
	&:where([href$='mp4']),
	&:where([href$='m4v']),
	&:where([href$='flv']),
	&:where([href$='swf']),
	&:where([href$='mpg']),
	&:where([href$='mpeg']),
	&:where([href$='wmv']),
	&:where([href$='webm']),
	&:where([href$='ogg']) {
		:where(.bgt-link__icon)::after {
			content: '\f1c8';
		}
	}
}
