:where(.bgt-link__size) {
	&::before {
		content: '(';
	}

	&::after {
		content: ')';
	}
}

:where(.bgt-link__icon) {
	&:where(.bgt-link__icon--before) {
		//
	}

	&:where(.bgt-link__icon--after) {
		display: none;
	}
}
