{
	"extends": "eslint:recommended",
	"env": {
		"node": false,
		"browser": true,
		"jquery": true,
		"es6": false,
		"commonjs": false
	},
	"parserOptions": {
		"sourceType": "script"
	},
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"semi": true,
				"trailingComma": "all",
				"bracketSpacing": true,
				"arrowParens": "always"
			}
		]
	}
}
