{
	"extends": [
		"@d-zero/stylelint-config/scss",
		"@d-zero/stylelint-config/base",
		"@d-zero/stylelint-config/order",
		"stylelint-config-html"
	],
	"rules": {
		"declaration-property-value-no-unknown": null
	},
	"overrides": [
		{
			"files": ["**/*.svelte"],
			"rules": {
				"selector-pseudo-class-no-unknown": [
					true,
					{
						"ignorePseudoClasses": ["global"]
					}
				]
			}
		}
	]
}
