{
	"extends": [
		"@d-zero/stylelint-config/scss",
		"@d-zero/stylelint-config/base",
		"@d-zero/stylelint-config/order"
	],
	"rules": {
		"declaration-property-value-no-unknown": null,
		"selector-type-no-unknown": [
			true,
			{
				"ignoreTypes": [
					"/^bge-/"
				]
			}
		]
	}
}
