[data-bgi='youtube'] {
	> div {
		position: relative;
		display: grid;
		grid-template-areas: 'one';
		inline-size: 100%;
		aspect-ratio: 16 / 9;
		overflow: hidden;
	}

	iframe {
		display: block;
		grid-area: one;
		inline-size: 100%;
		block-size: 100%;
		margin: 0;
		border: none;
	}

	img {
		position: relative;
		z-index: 0;
		display: block;
		grid-area: one;
		inline-size: 100%;
		block-size: 100%;
		padding: 0;
		margin: 0;
		object-fit: cover;
	}

	svg {
		position: relative;
		z-index: 1;
		display: block;
		grid-area: one;
		place-self: center;
		inline-size: 10%;
		block-size: auto;
	}
}
