$lightest-color: #fff;
$primary-color: #9acd2c;
$primary-button-background-color: #86be0d;
$primary-button-text-color: $lightest-color;
$hovered-button-background-color: #67b416;
$disabled-button-background-color: #ccc;
$disabled-button-text-color: #333;

$border-primary-color: #cfd1cf;
$background-color-draft-area: #eef;
$background-color01: #f5f5f5;
$background-color02: #555;

$type-outline-heighlight-color: #9dd525;
$type-background-heighlight-color: #f9fef0;
