[data-bgi='hr'] {
	--inline-size: 100%;
	--border-color: #000;
	--border-width: 1px;
	--border-kind: solid;

	> div {
		display: flex;
		justify-content: center;
	}

	hr {
		inline-size: var(--inline-size);
		border: var(--border-color) var(--border-kind) var(--border-width);
	}
}
